.categories {
  width: 100%;
  padding: 25px 24px;
}

.category {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  margin-bottom: 24px;
  font-size: 20px;
}

.categoryImageWrap {
  margin-bottom: 20px;
}

.categoryImage {
  width: 300px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: rotate .3s ease-in-out, box-shadow .3s ease-in-out;
}

.categoryImage:hover {
  rotate: 3deg;
  box-shadow: 0 0 10px 4px #c19aff;
}

.categoryName {
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  display: block;
}